<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>${CFBundleDisplayName}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleName</key>
	<string>mycar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>${NSAppleMusicUsageDescription}</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>${NSBluetoothPeripheralUsageDescription}</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app uses your calendar</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app uses your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>To record a video or take a photo in order to share with others.</string>
	<key>NSContactsUsageDescription</key>
	<string>${NSContactsUsageDescription}</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>NSLocationUsageDescription</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>kCLLocationAccuracyThreeKilometers</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>kCLLocationAccuracyKilometer</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>kCLLocationAccuracyHundredMeters</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>kCLLocationAccuracyNearestTenMeters</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>kCLLocationAccuracyBest</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>kCLLocationAccuracyBestForNavigation</key>
	<string>Sinaeiati requiring access to location to provide you with nearest service providers</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sinaeiati needs microphone access to record a voice message</string>
	<key>NSMotionUsageDescription</key>
	<string>${NSMotionUsageDescription}</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${NSPhotoLibraryUsageDescription}</string>
	<key>NSSiriUsageDescription</key>
	<string>${NSSiriUsageDescription}</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>${NSSpeechRecognitionUsageDescription}</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>${NSAppleMusicUsageDescription}</string>
</dict>
</plist>
